<ion-header class="titulo">
  <ion-toolbar>
    <ion-title>Membros do Grupo</ion-title>
  </ion-toolbar>

  
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Nome: <br> Danilo Araujo</ion-label>
    </ion-item>
   
    <ion-item>
      <ion-label> Turma: <br> ADS0304N</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Matricula: <br> 23101427</ion-label>
    </ion-item>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-list>

</ion-content>
